<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<main class="container">

<div class="row">
    <form class="xs-offset-3 xs-col-6 center-block text-center" th:action="@{/posts/create}" method="post" th:object="${newPost}">
        <label>Title:</label>
        <input th:field="*{title}" />
        <br />
        <label>Content:</label>
        <textarea  th:field="*{body}" ></textarea>
        <br />
        <hr />
        <label>OS</label>
        <input name="checkCat" type="checkbox" th:field="*{categories}" value = "OS" />
        <label>Hosting</label>
        <input name="checkCat" type="checkbox" th:field="*{categories}" value = "Hosting"  />
        <label>Coding</label>
        <input name="checkCat" type="checkbox" th:field="*{categories}" value = "Coding" />
        <label>Hardware</label>
        <input name="checkCat" type="checkbox" th:field="*{categories}" value = "Hardware"  />
        <label>General</label>
        <input name="checkCat" type="checkbox" th:field="*{categories}" value = "General"  /> <br />
        <input type="submit" />
    </form>
</div>

</main>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>