<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head th:replace="partials/header :: header"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<main class="container">

    <div sec:authorize="isAuthenticated()">

<div class="row">
    <form class="xs-offset-3 xs-col-6 center-block text-center" th:action="@{/posts/create}" method="post" th:object="${newPost}">
        <label class="titleLabel">Title</label> <br />
        <input class="createTitle" th:field="*{title}" />
        <br />
        <label>Content</label> <br />
        <textarea class="createBody"  th:field="*{body}" ></textarea>
        <br />
        <hr />
        <h3>Select Category</h3>
        <div>
            <label th:each="category : ${categories}">
                <input type="checkbox" th:field="*{categories}" th:value="${category.id}" /> <span class="categories" th:text="${category.name}"></span>
            </label>
        </div>
        <input type="submit" />
    </form>
</div>

    </div>

</main>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>