<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<main class="container">

<div class="row">
    <form class="xs-offset-3 xs-col-6 center-block text-center" th:action="@{/posts/create}" method="post" th:object="${newPost}">
        <label class="titleLabel">Title</label> <br />
        <input class="createTitle" th:field="*{title}" />
        <br />
        <label>Content</label> <br />
        <textarea class="createBody"  th:field="*{body}" ></textarea>
        <br />
        <hr />
        <h3>Select Category</h3>
        <label>General</label>
        <input name="checkCat" type="checkbox" th:field="*{categories}" value = "General" />
        <label>CSS</label>
        <input name="checkCat" type="checkbox" th:field="*{categories}" value = "CSS"  />
        <label>Javascript</label>
        <input name="checkCat" type="checkbox" th:field="*{categories}" value = "Javascript" />
        <label>HTML</label>
        <input name="checkCat" type="checkbox" th:field="*{categories}" value = "HTML"  />
        <label>Hosting</label>
        <input name="checkCat" type="checkbox" th:field="*{categories}" value = "Hosting"  /> <br />
        <input type="submit" />
    </form>
</div>

</main>

<footer th:replace="partials/footer :: footer"></footer>

</body>
</html>