<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<main class="container">

    <div class="row">
        <form class="xs-offset-3 xs-col-6 center-block text-center" th:action="@{/posts/edit}" th:method="post" th:object="${post}">
            <label class="titleLabel">Title</label> <br />
            <input class="createTitle" th:field="*{title}" th:value="${title}" />
            <br />
            <label>Content</label> <br />
            <textarea class="createBody" th:field="*{body}" th:value="${body}" ></textarea>
            <br />
            <hr />
            <h3>Select Category</h3>
            <label>OS</label>
            <input name="checkCat" type="checkbox" th:field="*{categories}" value = "OS" />
            <label>Hosting</label>
            <input name="checkCat" type="checkbox" th:field="*{categories}" value = "Hosting"  />
            <label>Coding</label>
            <input name="checkCat" type="checkbox" th:field="*{categories}" value = "Coding" />
            <label>Hardware</label>
            <input name="checkCat" type="checkbox" th:field="*{categories}" value = "Hardware"  />
            <label>General</label>
            <input name="checkCat" type="checkbox" th:field="*{categories}" value = "General"  />
            <input type="hidden" th:field="*{id}" th:value="${id}" /> <br />
            <input type="submit" />
        </form>

        <form class="xs-offset-3 xs-col-6 center-block text-center" th:action="@{/posts/delete}" th:method="post" th:object="${post}">
            <input type="hidden" th:field="*{id}" th:value="${id}" />
            <button id="delete">Delete</button>
        </form>
    </div>

</main>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>