<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"></head>
<body>

<div th:replace="partials/navbar :: navbar"></div>

<div th:replace="partials/jumbo :: jumbo"></div>

<main class="container">

    <div class="card">
        <h2 th:text="${post.title}"></h2>
        <h5>Post created on: <span th:text="${post.modifyDate}"></span></h5>
        <div class="fakeimg" style="height:200px;" th:each="image : ${post.images}"><img height="100%" width="100%" th:src="${image.path}"/></div>
        <p th:text="${post.body}"></p>
        <p>Posted by: <span th:text="${post.user.username}"></span></p>
        <div><span th:each="category : ${post.categories}"><button class="btn btn-primary" th:text="${category.name}"></button></span></div>
        <div><a th:href="@{/posts/{id}/edit(id=${post.getId()})}">Edit</a></div>
    </div>
    <hr />
    <h3>Comments:</h3>
    <div><span th:each="comment : ${post.comments}"><span th:text="${comment.commentBody}"></span></span></div>
    <hr />

    <h3>Add A Comment</h3>
    <!--<div class="row">-->
        <!--<form class="xs-offset-3 xs-col-6 center-block text-center" th:action="@{/posts/comment}" method="post" th:object="${post}">-->
            <!--<label class="titleLabel">Comment:</label> <br />-->
            <!--<input class="createTitle" th:field="*{comments.comment_body}" />-->
            <!--<br />-->
            <!--<input type="submit" />-->
        <!--</form>-->
    <!--</div>-->




</main>

<footer th:replace="partials/footer :: footer"></footer>
</body>
</html>