<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"></head>
<body>
<div th:replace="partials/navbar :: navbar"></div>
<main class="container">
    <div class="row">
        <div class="xs-offset-3 xs-col-6 center-block text-center">
            <h1>Log In</h1>
            <div th:if="${param.error}">
                Invalid Username and Password.
            </div>
            <div th:if="${param.logout}">
                You have been logged out.
            </div>

            <form th:action="@{/login}" method="post">
                <label for="username">Username</label> <br />
                <input id="username" name="username" type="text" /> <br />
                <label for="password">Password</label> <br />
                <input id="password" name="password" type="password" /> <br />
                <input type="submit" value="Log In" />
            </form>
        </div>
    </div>
</main>
</body>
</html>