body {
    background-color: #5bc0de;
}

div.jumbotron.jumbotron-fluid {
    background-image: url("../../static/img/jum-back.jpg");
    background-size: cover;
    text-align: center;
    color: white;

}

nav.navbar.navbar-default {
    margin-bottom: 0;
}

.posts {
    text-align: center;
}