<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/header :: header"></head>

<body>

<div th:replace="partials/navbar :: navbar"></div>

    <h1>Welcome to the Linux Hobbyist</h1>

    <div th:if="${name}">

        <h3>Welcome, <span th:text="${name}"></span></h3>

    </div>

    <div th:if="${users}">

        <div th:each="user : ${users}">
            <h3 th:text="${user}"></h3>
        </div>
    </div>

    <footer th:replace="partials/footer :: footer"></footer>

</body>
</html>